
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Body */
body {
    font-family: "Roboto",  sans-serif;
    padding: 2em;
}


/* Poch'Lib */
#myBooks > h1 {
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    border: 3px #eeeded;
    font-weight: normal;
    background-color: #eff0f4;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  }
  
/*nouveau livre*/
#myBooks > h2 {
    padding-top: 2vh;
    text-align: center;
  }

  /* titre du contenu- mise en page */
  .contentTitle{
    height: 9vh;
    padding-top: 4vh;
  }

  .resultRech{
    text-align: center;
    padding-top: 1%M;
    padding-bottom: 1%;
  }

/* Séparateur */
#myBooks > hr {
    background-color:black; border:none; height:1px; margin-top: 2%; margin-bottom: -1%;
}

/*ma poch'liste*/
#content > h3 {
    text-align: center;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
    }

    
  .form-group {
    display: block;
  }

  .form-group .form-control {
    display: flex;
    height: 4vh;
    width: 90%;
  }
    
/* bouton ajouter un livre   */
.addButton {
    display: inline-block;
    padding: 10px 24px;
    outline: none;
    margin: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid transparent;
    color: white;
    width: 200px;
    height: 40px;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Trebuchet MS',  sans-serif;
    font-weight: normal;
    background-color: #2a2dd6;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }
  /* rendre transparant au passage de la souris          */
.addButton:hover {
  opacity: 0.9;
}

/*bouton rechercher*/
.searchButton {
  display: inline-block;
  padding: 10px 24px;
  outline: none;
  margin: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid transparent;
  color: white;
  width: 200px;
  height: 40px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Trebuchet MS',  sans-serif;
  font-weight: normal;
  background-color: #30ca1c;
  justify-content: center;
  display: flex;
  margin-right: 100%;
  cursor: pointer;
}
.searchButton:hover {
  opacity: 0.9;
}

/*bouton annuler*/
.cancelButton {
  display: inline-block;
  padding: 10px 24px;
  outline: none;
  margin: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid transparent;
  color: white;
  width: 200px;
  height: 40px;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Trebuchet MS',  sans-serif;
  font-weight: normal;
  background-color: #e72a08;
  justify-content: center;
  display: flex;
  margin-right: 100%;
  cursor: pointer;
}
.cancelButton:hover {
  opacity: 0.9;
}

/*données du livre */
.card {
  width: 40vw;
  background-color: #d1cece;
  margin-bottom: 2vh;
  border: 2px solid black;
  padding: 1em;
  margin-right: 2em;
}

/* données du livre
.card {
  width: 40vw;
  background-color: #d1cece;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 20px;
  margin-right: 10px;
} */
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

/* titre du livre */
.card-container .card-title {
  display: block;
  margin-block-start: 3em;
  margin-block-end: 1.33em;
  font-weight: bold;

}

/* Id du livre */
.card-container .card-id {
  display: flex;
}

/* auteur du livre */
.card-container .card-author {
  display: flex;
  margin: auto;
}

/* descritpion du livre */
.card-container .card-description {
  display: flex;
}
.card-container .card-img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 30%;
  
}

.removeButton{
  float: right;
  color:#cd1d1d ;
  
  }

  .addBookmarkButton{
    color: #2b6902;
    float: right;
  }
  